<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div ng-class ="!fsService.fsOn ? 'container' : ''">

    <div ng-controller="chartIFrameController" data-ng-init="init()">
        <div ng-show = "!chartReady || !fsService.fsOn" class="alert " role="alert" ng-class="!chartReady ? 'alert-info' : 'alert-success'">
            <span ng-show = "!chartReady" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <span ng-show = "!chartReady">Loading... : (Dataset: {{dsid}}, id:{{id}})</span>
            <span ng-show = "chartReady">Loaded: (Dataset: {{dsid}}, id:{{id}})</span>
            <div class="pull-right"><button class="btn btn-default btn-sm"  ng-click="fsService.fsOn=true"><i class="glyphicon glyphicon-resize-full"></i></button></div>
        </div>

        <div style='position: relative; width: 100%; height: 0px; padding-bottom: 50%;'>
        <iframe style='position: absolute; left: 0px; top: 0px; width: 100%; height: 100%'
        ng-if="IframeManager.Url" ng-src="{{ IframeManager.Url }}"  frameborder="no" scrolling="no"></iframe>
        </div>

    </div>
</div>
</body>
</html>