<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- FusionCharts library-->
    <title>Title</title>
</head>
<body>
<div class = "container">
    {{dsid}}
    {{id}}
    {{analytics_meta}}
    <div ng-controller="chartController">
        <button class="btn btn-success" ng-click="loadChart()"><i class="glyphicon glyphicon-download"></i>GET</button>
        <fusioncharts ng-if="chartReady"
        width="100%"
        height="800"
        type={{chartType}}
        dataFormat='json'

        dataSource="{{dataSource}}">

        </fusioncharts>
        <!--<div fusioncharts width="400" height="300" type="column2d" , datasource="{{dataSource}}"></div>-->
        <!--<p><a class="btn btn-default" ng-click="updateMyChartData()">Click me to change data</a></p>-->
    </div>
</div>
</body>
</html>