<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div ng-class ="!fsService.fsOn ? 'container' : ''">

    <div ng-controller="chartController" data-ng-init="init()">
        <div ng-show = "!chartReady || !fsService.fsOn" class="alert " role="alert" ng-class="!chartReady ? 'alert-info' : 'alert-success'">
            <span ng-show = "!chartReady" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            <span ng-show = "!chartReady">Loading... : (Dataset: {{dsid}}, id:{{id}})</span>
            <span ng-show = "chartReady">Loaded: (Dataset: {{dsid}}, id:{{id}})</span>
            <div class="pull-right"><button class="btn btn-default btn-sm"  ng-click="fsService.fsOn=true"><i class="glyphicon glyphicon-resize-full"></i></button></div>
        </div>
        <fusioncharts ng-if="chartReady" width="100%" height="800" type={{chartType}} dataFormat='json'
                      dataSource="{{dataSource}}">
        </fusioncharts>
    </div>
</div>
</body>
</html>