<div ng-controller="WelcomeCtrl">


<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Data Sets</h2>
            <p>View current data sets and launch new twitter streams</p>
            <p><a class="btn  btn-success" href="#datasets" role="button">View details »</a>
            </p></div>
        <div class="col-md-4">
            <h2>Analytics</h2>
            <p>Launch analytics tasks and view results</p>
            <p><a class="btn  btn-success" href="#analytics" role="button">View details »</a>
            </p></div>
        <div class="col-md-4">
            <h2>Consumers</h2>
            <p>Spin up Twitter consumer processes</p>
            <p><a class="btn  btn-success" href="#consumers" role="button">View details »</a>
            </p></div>
    </div>
    <img src="assets/landing.jpeg" class="img-responsive" alt="Responsive image">
</div>
    </div>